body{
    background-color: indigo;
    font-family: "Pirata One";
    margin: 0;
}
button{
    font-family: "Pirata One";
}
#menuBar{
    margin: 0px;
    padding: 0px;
    min-height: 127px;
    background-size: 500px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
 background-image: url("./images/drippingBorder.png");
}
#title{
    text-align: center;
}
#titleDiv
{
margin-top: 200px;
}
h1{
    font-size: 5vw;
}
h3{
    font-size: 2vw;
}


#selections{
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
}