body{
    background-color: indigo;
    font-family: "Pirata One";
    margin: 0;
    display: flex;
}
button{
    font-family: "Pirata One";
    border-radius: 5%;
}

#menuBar{
    margin: 0px;
    padding: 0px;
    min-height: 127px;
    background-size: 500px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
 background-image: url("./images/drippingBorder.png");
    z-index: max(100, 100);
}
#cartButtonDiv{
    margin-left: 66.6%;
    display: flex;
    justify-content: end;
}
#cartButton{
    border: none;
    background: none;

}
#title{
    text-align: center;
}
#titleDiv
{
margin-top: 200px;
}
h1{
    font-size: 5vw;
}
h3{
    font-size: 2vw;
    margin-top: 5%;
    margin-bottom: 5%;
}


#selections{
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}
#cartDiv{
    display: none;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 80%;
    width: 20%;
    height: 100vh;

    position: fixed;
    background-color: ivory;
    border-radius: 2%;
    padding-top:  130px;

}
#checkoutButtonsDiv{
   display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgrey;

    border-top: 2px solid dimgrey;
}
#clearCartButton{
 background-color: lightcoral;
}
.checkoutButtons{
    margin-top: 5%;
    font-size: 1.5vw;
    border: none;

    height: 6vh;
}
#itemAndCostDiv{
    display: flex;
    justify-content: space-around;
    height:5vh;
    font-size: 2vw;
}
#checkoutParent{
    top: 85vh;
    width: 100%;
    height: 15%;
    position: absolute;
    background-color: lightgrey;
}
.itemsAndPrice{
    margin-top: 0;
    display: block;
}